.navbar-header {
  font-size: 2rem;
  color: wheat;
}

.MuiTypography-h6 {
  color: rgb(204, 201, 29);
}

.appBar {
  background-color: #69a72f;
}
.header-logo {
  width: 100%;
  max-width: 50px;
  filter: invert(100%);
}

.header-link {
  text-decoration: none;
  color: #000;
}
